.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-player {
    margin-left: 6.8rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}